Source: debathena-debian-dev
Section: debathena/utils
Priority: extra
Standards-Version: 3.9.3
Maintainer: Debathena Project <debathena@mit.edu>
Build-Depends: debhelper (>= 7)

Package: debathena-debian-dev
Architecture: all
Depends: apt-file,
 apt-rdepends,
 apt-show-versions,
 build-essential,
 cdbs,
 debhelper,
 debian-el,
 devscripts,
 devscripts-el,
 dh-make,
 dpatch,
 dpkg-awk,
 dpkg-dev,
 dpkg-dev-el,
 equivs,
 fakeroot,
 lintian,
 pbuilder,
 quilt,
 sbuild,
 wdiff,
 debathena-lintian-config
Description: Metapackage providing tools for Debathena development
 This metapackage installs a collection of tools used for development
 of Debathena.
